<div data-dojo-type="dijit/form/Form" id="enrollForm" >
  <table style="border: 1px solid #9f9f9f;" cellspacing="10">
		<tr>
			<td>
				<label for="programName">Program</label>
			</td>
			<td>
        <span style="padding-right: 5px; color: red">*</span>
        <select
          data-dojo-attach-point="programName"
          data-dojo-attach-event="onChange: onProgramChange"
          data-dojo-props="required:true"
					data-dojo-type="dijit/form/Select" />
        </select>
			</td>
		</tr>
		<tr>
			<td>
				<label for="enrollDate">Enrolment Date</label>
			</td>
			<td>
        <span style="padding-right: 5px; color: red">*</span>
				<input type="text" data-dojo-attach-point="enrollDate" data-dojo-type="dijit/form/DateTextBox" value="now" data-dojo-props="required:true" constraints="{datePattern:'dd/MM/yyyy'}"></input>
			</td>
		</tr>
    <tr data-dojo-attach-point="schoolTr" style="display:none">
			<td>
				<label for="school">School</label>
			</td>
			<td>
        <span style="padding-right: 5px; color: red">*</span>
        <select
          data-dojo-attach-point="school"
          data-dojo-props="required:true"
					data-dojo-type="dijit/form/Select" />
        </select>
			</td>
		</tr>
    <tr data-dojo-attach-point="yearLevelTr" style="display:none">
			<td>
				<label for="yearLevel">Year Level</label>
			</td>
			<td>
        <span style="padding-right: 5px; color: red">*</span>
        <select
          data-dojo-attach-point="yearLevel"
          data-dojo-props="required:true"
					data-dojo-type="dijit/form/Select" />
        </select>
			</td>
		</tr>
    <tr data-dojo-attach-point="yearTr" style="display:none">
			<td>
				<label for="year">Year</label>
			</td>
			<td>
        <span style="padding-right: 5px; color: red">*</span>
        <select
          data-dojo-attach-point="year"
          data-dojo-props="required:true"
					data-dojo-type="dijit/form/Select" />
        </select>
			</td>
		</tr>
		<tr>
			<td>
				<button type="submit" data-dojo-attach-event="onclick: onApply">Apply</button>
			</td>
		</tr>
	</table>
</div>
