.enrolment-list-container {
  padding: 10px;
}
.enrolment-list-container .enrolment-item {
  margin-bottom: 10px;
}
.enrolment-list-container .enrolment-item .item {
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: royalblue;
  cursor: pointer;
}
.enrolment-list-container .enrolment-item .item > span {
  padding-right: 20px;
}

.enrolment-form {
  border: 1px solid #9f9f9f;
  width: 100%;
  padding-top: 20px;
}
.school-log-container {
  padding: 10px;
}
.school-log-container .log-title {
  font-weight: bold;
  padding-bottom: 10px;
}
.school-log-container .log-table {
  width: 100%;
}
.school-log-container .log-table th {
  color: white;
  background-color: royalblue;
}
.school-log-container .log-table tr.data td {
  border-bottom: 1px solid #9f9f9f;
}
.text-right {
  text-align: right;
}
button {
  color: #fff;
  cursor: pointer;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}
button.primary-btn {
  background-color: #ffc107;
  border-color: #ffc107;
}
button.secondary-btn {
  border-color: #007bff;
  background-color: #007bff;
}
